In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

### Read trip data for yellow cabs for each month in 2019

In [ ]:
#read in files locally
jan = pd.read_csv("yellow_tripdata_2019-01.csv")
feb = pd.read_csv("yellow_tripdata_2019-02.csv")
mar = pd.read_csv("yellow_tripdata_2019-03.csv")
apr = pd.read_csv("yellow_tripdata_2019-04.csv")
may = pd.read_csv("yellow_tripdata_2019-05.csv")
jun = pd.read_csv("yellow_tripdata_2019-06.csv")
jul = pd.read_csv("yellow_tripdata_2019-07.csv")
aug = pd.read_csv("yellow_tripdata_2019-08.csv")
sept = pd.read_csv("yellow_tripdata_2019-09.csv")
oct = pd.read_csv("yellow_tripdata_2019-10.csv")
nov = pd.read_csv("yellow_tripdata_2019-11.csv")
dec = pd.read_csv("yellow_tripdata_2019-12.csv")

In [ ]:
#read in files with a URL
jan = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv")
feb = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-02.csv")
mar = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-03.csv")
apr = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-04.csv")
may = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-05.csv")
jun = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-06.csv")
jul = pd.read_csv("https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-07.csv")
aug = pd.read_csv("https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-08.csv")
sept = pd.read_csv("https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-09.csv")
oct = pd.read_csv("https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-10.csv")
nov = pd.read_csv("https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-11.csv")
dec = pd.read_csv("https://nyc-tlc.s3.amazonaws.com/trip+data/yellow_tripdata_2019-12.csv")

### Put each month's data frame in a dictionary "months"

In [3]:
months = {'jan':jan, 'feb':feb, 'mar':mar, 'apr':apr, 'may':may, 'jun':jun, 
          'jul':jul, 'aug':aug, 'sept':sept, 'oct':oct, 'nov':nov, 'dec':dec}

### Create a resampling of each month that is .1% of the size of the original sampling

In [4]:
reduced_months0001 = {}
reduced_months001 = {}
reduced_months01 = {}
reduced_months1 = {}
for month in months:
  print("Resampling "+month)
  reduced_months0001[month], _ = train_test_split(months[month], train_size=0.0001, random_state = 101)
  print(".01 % Complete.")
  reduced_months001[month], _ = train_test_split(months[month], train_size=0.001, random_state = 101)
  print(".1 % Complete.")
  reduced_months01[month], _ = train_test_split(months[month], train_size=0.01, random_state = 101)
  print("1% Complete.")
  reduced_months1[month], _ = train_test_split(months[month], train_size=0.1, random_state = 101)
  print("10% Complete.")

Resampling jan
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling feb
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling mar
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling apr
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling may
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling jun
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling jul
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling aug
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling sept
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling oct
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling nov
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.
Resampling dec
.01 % Complete.
.1 % Complete.
1% Complete.
10% Complete.

## For each reduced dataframe, encode the season

In [9]:
import warnings
warnings.simplefilter("ignore")
reduced_months = [reduced_months0001, reduced_months001, reduced_months01, reduced_months1]
for set in reduced_months:
  winter, spring, summer, fall = [set["dec"], set["jan"], set["feb"]], [set["mar"], set["apr"], set["may"]], [set["jun"], set["jul"], set["aug"]], [set["sept"], set["oct"], set["nov"]]
  for month in winter:
    month['winter'] = 1
    month['spring'] = 0
    month['summer'] = 0
    month['fall'] = 0
  for month in spring:
    month['winter'] = 0
    month['spring'] = 1
    month['summer'] = 0
    month['fall'] = 0
  for month in summer:
    month['winter'] = 0
    month['spring'] = 0
    month['summer'] = 1
    month['fall'] = 0
  for month in fall:  
    month['winter'] = 0
    month['spring'] = 0
    month['summer'] = 0
    month['fall'] = 1
  print("Done.")

Done.
Done.
Done.
Done.

### Look at the number of records for each month in the original set

In [13]:
month_leng = {}
for month in months:
    month_leng[month] = len(months[month].index)

In [14]:
month_leng

{'jan': 7667792,
 'feb': 7019375,
 'mar': 7832545,
 'apr': 7433139,
 'may': 7565261,
 'jun': 6941024,
 'jul': 6310419,
 'aug': 6073357,
 'sept': 6567788,
 'oct': 7213891,
 'nov': 6878111,
 'dec': 6896317}

### Look at the number of records for each month in the .01 % reduced set

In [15]:
month_leng_red0001 = {}
for month in reduced_months0001:
    month_leng_red0001[month] = len(reduced_months0001[month].index)

In [16]:
month_leng_red0001

{'jan': 766,
 'feb': 701,
 'mar': 783,
 'apr': 743,
 'may': 756,
 'jun': 694,
 'jul': 631,
 'aug': 607,
 'sept': 656,
 'oct': 721,
 'nov': 687,
 'dec': 689}

### Look at the number of records for each month in the .1% reduced set

In [17]:
month_leng_red001 = {}
for month in reduced_months001:
    month_leng_red001[month] = len(reduced_months001[month].index)
month_leng_red001

{'jan': 7667,
 'feb': 7019,
 'mar': 7832,
 'apr': 7433,
 'may': 7565,
 'jun': 6941,
 'jul': 6310,
 'aug': 6073,
 'sept': 6567,
 'oct': 7213,
 'nov': 6878,
 'dec': 6896}

### Look at the number of records for each month in the 1% reduced set

In [18]:
month_leng_red01 = {}
for month in reduced_months01:
    month_leng_red01[month] = len(reduced_months01[month].index)
month_leng_red01

{'jan': 76677,
 'feb': 70193,
 'mar': 78325,
 'apr': 74331,
 'may': 75652,
 'jun': 69410,
 'jul': 63104,
 'aug': 60733,
 'sept': 65677,
 'oct': 72138,
 'nov': 68781,
 'dec': 68963}

### Look at the number of records for each month in the 10% reduced set

In [19]:
month_leng_red1 = {}
for month in reduced_months1:
    month_leng_red1[month] = len(reduced_months1[month].index)
month_leng_red1

{'jan': 766779,
 'feb': 701937,
 'mar': 783254,
 'apr': 743313,
 'may': 756526,
 'jun': 694102,
 'jul': 631041,
 'aug': 607335,
 'sept': 656778,
 'oct': 721389,
 'nov': 687811,
 'dec': 689631}

### Find out how many records there are for the whole year in the original data set

In [20]:
total_length = 0
for month in month_leng:
  total_length += month_leng[month]
total_length

84399019

### Number of records for the whole year in the .01% reduced data set

In [21]:
total_length_reduced0001 = 0
for month in month_leng_red0001:
  total_length_reduced0001 += month_leng_red0001[month]
total_length_reduced0001

8434

### Number of records for the whole year in the .1% reudced data set

In [22]:
total_length_reduced001 = 0
for month in month_leng_red001:
  total_length_reduced001 += month_leng_red001[month]
total_length_reduced001

84394

### Number of records for the whole year in the 1% reduced data set

In [23]:
total_length_reduced01 = 0
for month in month_leng_red01:
  total_length_reduced01 += month_leng_red01[month]
total_length_reduced01

843984

### Number of records for the whole year in the 10 % reduced data set

In [24]:
total_length_reduced1 = 0
for month in month_leng_red1:
  total_length_reduced1 += month_leng_red1[month]
total_length_reduced1

8439896

### Concatenate each of the dataframes together and write them the csvs

In [43]:
pd.concat(reduced_months0001, ignore_index = True).to_csv(r"taxi-reduced-8434", index = "False")

In [44]:
pd.concat(reduced_months001, ignore_index = True).to_csv(r"taxi-reduced-84394", index = "False")

In [36]:
pd.concat(reduced_months01, ignore_index = True).to_csv(r"taxi-reduced-843984", index = "False")

In [42]:
pd.concat(reduced_months1, ignore_index = True).to_csv(r"taxi-reduced-8439896", index = "False")