In [1]:
import pandas as pd

In [2]:
taxi = pd.read_csv("yellow_tripdata_2019-12.csv")

C:\Users\jacob\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
len(taxi.index)

6896317

In [6]:
taxi.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [10]:
taxi[taxi["fare_amount"] == 0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
565,1.0,2019-12-01 00:45:07,2019-12-01 00:45:07,1.0,0.00,5.0,Y,168,264,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2026,2.0,2019-12-01 00:37:26,2019-12-01 00:42:44,2.0,0.00,1.0,N,230,230,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2498,1.0,2019-12-01 00:07:56,2019-12-01 00:09:41,2.0,0.00,5.0,N,68,68,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3006,2.0,2019-12-01 00:21:00,2019-12-01 00:35:37,6.0,4.52,1.0,N,246,151,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6219,1.0,2019-12-01 00:47:16,2019-12-01 00:50:10,1.0,0.50,1.0,N,234,186,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6837944,2.0,2019-12-31 22:43:55,2019-12-31 22:44:06,1.0,0.00,1.0,N,264,264,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6837945,2.0,2019-12-31 22:52:03,2019-12-31 22:52:35,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6838272,1.0,2019-12-31 23:36:20,2020-01-01 00:07:43,1.0,0.10,5.0,N,138,223,3.0,0.0,0.0,0.0,0.0,0.0,0.3,0.3,0.0
6842867,2.0,2019-12-31 23:04:14,2019-12-31 23:04:46,2.0,0.03,2.0,N,249,249,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6843213,2.0,2019-12-31 23:05:23,2019-12-31 23:16:52,1.0,0.00,99.0,N,50,265,1.0,0.0,0.3,0.0,0.0,0.0,0.0,2.8,2.5

In [11]:
taxi[taxi['payment_type']==2]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-12-01 00:26:58,2019-12-01 00:41:45,1.0,4.20,1.0,N,142,116,2.0,14.5,3.0,0.5,0.0,0.0,0.3,18.3,2.5
1,1.0,2019-12-01 00:12:08,2019-12-01 00:12:14,1.0,0.00,1.0,N,145,145,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
2,1.0,2019-12-01 00:25:53,2019-12-01 00:26:04,1.0,0.00,1.0,N,145,145,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
4,1.0,2019-12-01 00:05:27,2019-12-01 00:16:32,2.0,1.60,1.0,N,161,237,2.0,9.0,3.0,0.5,0.0,0.0,0.3,12.8,2.5
5,1.0,2019-12-01 00:58:51,2019-12-01 01:08:37,2.0,1.00,1.0,N,161,230,2.0,6.5,3.0,0.5,0.0,0.0,0.3,10.3,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6845291,2.0,2019-12-31 23:10:26,2019-12-31 23:20:29,4.0,1.29,1.0,N,90,48,2.0,8.5,0.5,0.5,0.0,0.0,0.3,12.3,2.5
6845293,2.0,2019-12-31 23:20:52,2019-12-31 23:25:16,1.0,0.72,1.0,N,238,151,2.0,5.5,0.5,0.5,0.0,0.0,0.3,9.3,2.5
6845294,2.0,2019-12-31 23:09:42,2019-12-31 23:22:39,1.0,1.47,1.0,N,68,246,2.0,10.0,0.5,0.5,0.0,0.0,0.3,13.8,2.5
6845297,2.0,2019-12-31 23:33:47,2019-12-31 23:40:10,1.0,1.55,1.0,N,137,4,2.0,7.0,0.5,0.5,0.0,0.0,0.3,10.8,2.5
6845298,2.0,2019-12-31 23:55:19,2020-01-01 00:03:20,4.0,1.51,1.0,N,229,237,2.0,7.5,0.5,0.5,0.0,0.0,0.3,11.3,2.5

In [7]:
taxi['cost_per_mile'] = taxi['fare_amount']/taxi['trip_distance'] 
taxi[['fare_amount','trip_distance', 'cost_per_mile']].head(30)

    fare_amount  trip_distance  cost_per_mile
0          14.5           4.20       3.452381
1           2.5           0.00            inf
2           2.5           0.00            inf
3          28.5           9.40       3.031915
4           9.0           1.60       5.625000
5           6.5           1.00       6.500000
6          10.0           1.70       5.882353
7           4.0           0.50       8.000000
8           7.5           1.40       5.357143
9           5.5           0.90       6.111111
10         18.0           5.50       3.272727
11         12.0           2.12       5.660377
12          9.0           1.15       7.826087
13         38.5          13.07       2.945677
14         52.0          17.40       2.988506
15         15.0           0.00            inf
16         15.0           3.30       4.545455
17         52.0          19.98       2.602603
18         85.5          23.50       3.638298
19         33.5          11.30       2.964602
20         11.0           2.56       4.296875
21         12.0           2.22       5.405405
22         12.0           3.11       3.858521
23          8.5           1.46       5.821918
24         10.0           2.59       3.861004
25          5.5           1.20       4.583333
26         12.5           3.60       3.472222
27          5.0           0.80       6.250000
28          6.0           0.80       7.500000
29         10.5           2.39       4.393305

Our data set is the new york taxi set. We wanted to predict fare amount based on pickup time or date, passenger count, pickup location, and length of the trip.



We received the following feedback on our data set: 



If you have the length of the trip (whether in time or distance), does that not directly tell you the fare?



After examining our set, it was found that the cost per mile is not constant: